funcsigs==1.0.2
numexpr==2.7.0
numpy>=1.16.5
OpenMatrix==0.3.4.1
tables
pandas==0.24.2
matplotlib
seaborn
python-dateutil==2.8.1
pytz==2019.3
schematics==2.1.0
six==1.13.0
SQLAlchemy==1.3.11
typing==3.7.4.1
xlrd
enum34
jupyterlab

# Python 2/3 Compatibility libraries
backports.tempfile
pathlib2; python_version <= '2.7'

# We use pysqlite for python 2 to get the ability to load extensions (spatialite)
# on windows, we ship a wheel to avoid compiling, on other os installing works fine
./bin/wheels/pysqlite-2.8.3-cp27-cp27m-win_amd64.whl; python_version <= '2.7' and sys_platform == 'win32'
pysqlite; python_version <= '2.7' and sys_platform != 'win32'

# Plotting
matplotlib
seaborn
